[submodule "addons/dialogue_manager"]
	path = addons/dialogue_manager
	url = https://github.com/LunarLibrary/godot_dialogue_manager.git
[submodule "assets"]
	path = assets
	url = https://github.com/LunarDrive/BA-Assets.git
	branch = godot
